[Desktop Entry]
Name=Fldigi-Alinco
GenericName=Amateur Radio Digital Modem
Comment=Amateur Radio Sound Card Communications
Exec=sh -c 'PULSE_SINK=fepi-playback PULSE_SOURCE=fepi-capture fldigi --config-dir /home/pi/.fldigi -title "Alinco fldigi"'
Icon=fldigi
Terminal=false
Type=Application
Categories=HamRadio;
Path=/home/pi
Name[en_US]=Fldigi Alinco (Left Radio)
