[Desktop Entry]
Name=Start RX Monitor
GenericName=Amateur Radio Digital Modem
Comment=Amateur Radio Sound Card Communications
Exec=sh -c 'pactl load-module module-loopback source="fepi-capture" sink="system-audio-playback"'
Icon=fldigi
Terminal=false
Type=Application
Categories=HamRadio;
Path=/home/pi
